<html>
<head>
    <link rel=stylesheet type=text/css href="{{url_for('static',filename='styles.css')}}" />
</head>
<body>
    <h1>Edit Menu Item</h1>
    <p>{{chgItem.name}}</p>
    <form action="{{url_for('editMenuItem',restaurant_id=restaurant.id, menu_id = chgItem.id)}}" method='POST'>
        <p>Name:</p>
        <input type="text" size="35" name="name" placeholder='{{chgItem.name}}'/>
        <input type="submit" value="Rename" />
        <a href="{{url_for('restaurantMenu',restaurant_id=restaurant.id)}}">Cancel</a>
    </form>
</body>
</html>