<html>
<head>
    <link rel=stylesheet type=text/css href="{{url_for('static',filename='styles.css')}}" />
</head>
<body>
    <h1>This is a List of Restaurants</h1><br />
    <h3><a href="{{url_for('createRestaurant')}}">Make a new restaurant</a></h3><br />

    {% for i in restaurantList %}
    <div>
        <h2>{{i.name}}</h2>
        <a href='{{url_for('editRestaurant',restaurant_id=i.id)}}'>Edit</a>
        <a href='#'>Delete</a>
        <br /><br />
    </div>
    {% endfor %}
</body>
</html>